@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* For the RAT: */
.scratchcard {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  background-color: #f5f5f5;
  }

a.answer {
  width: 60px;
  height: 30px;
  margin: 5px;
}
  
div.btn-group {
    height:30px;
  }

table {
    margin-bottom: 1rem;
  }
  
.btn-light.disabled, .btn-light:disabled {
  background-color:#ffffff;
  border: none;
}

.btn-secondary.disabled {
  background-color: rgba(128, 128, 128, 0.52);
}

.btn-danger.disabled {
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  background-color: white;
}

.btn-success.disabled {
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  background-color: white;
  color: #20C073 !important;
}

.btn.disabled, .btn:disabled {
  opacity:1.0;
  border: none;
}

td, th {
  text-align: center;
  color: grey;
}

p.card-text {
  color: grey;
}